.element-banner {
  position: relative;

  &__content {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  .image-left {
    min-height: 60vh;
    overflow: hidden;
    background-position: -10px center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 50px;
  }

  .box-right {
    position: relative;
    top: 70px;
    max-width: 590px;
    text-align: center;

    .line-top {
      position: absolute;
      top: 0;
      left: 12px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        left: 0;
        background-color: #dddddd;
      }

      &:before {
        top: 0;
        left: 0;
        width: 90px;
        height: 1px;
      }

      &:after {
        top: -12px;
        left: 8px;
        width: 1px;
        height: 120px;
      }
    }

    .line-bottom {
      position: absolute;
      bottom: 0;
      right: 12px;

      &:before,
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        background-color: #dddddd;
      }

      &:before {
        right: 0;
        width: 90px;
        height: 1px;
      }

      &:after {
        right: 8px;
        bottom: -12px;
        width: 1px;
        height: 120px;
      }
    }

    .content {
      padding: 30px 40px 40px;

      .title {
        font-size: 50px;
        margin-bottom: 6px;
      }

      .desc {
        margin-bottom: 24px;
        font-size: 30px;
        line-height: 1.2em;
      }

      .list {
        margin-bottom: 36px;
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(3, 1fr);
        @include align-items(center);

        .item {
          position: relative;
          padding: 8px 6px;
          color: #ffffff;
          font-size: 16px;
          border-radius: 6px;
          background-color: #000000;

          &:not(:last-child) {
            &:after {
              position: absolute;
              content: "";
              width: 1px;
              height: 90%;
              right: -12px;
              top: 50%;
              background-color: #000000;
              @include transform(translateY(-50%));
            }
          }

          @media (min-width: 480px) and (max-width: 575px) {
            padding: 8px 6px;
            font-size: 12px;
          }
        }
      }
    }

    @media (max-width: 991px) {
      top: 0;
      margin: 0 auto;
    }

    @media (max-width: 767px) {
      max-width: none;
    }
  }

  .btn-modal-popup {
    padding: 6px 50px;
    font-size: 22px;
    font-weight: 500;
    border: none;
    border-radius: 12px;
    background-color: $background-primary;
  }

  @media (max-width: 991px) {
    padding: 30px 0;

    .box-right {
      .line-top {
        left: 10px;
      }

      .line-bottom {
        right: 10px;
      }
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    .box-right {
      .content {
        .title {
          font-size: 40px;
        }

        .desc {
          font-size: 30px;
        }
      }
    }
  }

  @media (max-width: 479px) {
    .box-right {
      .content {
        .title {
          font-size: 36px;
        }

        .desc {
          font-size: 24px;
        }

        .list {
          grid-row-gap: 12px;
          grid-template-columns: 1fr;

          .item {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}