.item-post__title {
  font-size: 18px;
  word-break: break-word;

  a {
    display: inline-block;
  }
}
/* About Text */
@import "about-text";
/* Slider */
@import "slides";

/* Posts Grid */
@import "post-grid";

/* Posts Carousel */
@import "post-carousel";

/* Partners Carousel */
@import "partners-carousel";

/* Introduce */
@import "introduce";

/* Product Popup */
@import "product-popup";

/* Project Popup */
@import "project-popup";