.item-effect {
  position: relative;

  .item-post {
    &__thumbnail {
      margin-bottom: 12px;

      img {
        @include transition();
      }
    }

    &__title {
      margin-bottom: 6px;
    }

    &__desc {
      margin-bottom: 12px;
      font-size: 16px;
    }

    &__more {
      font-size: 16px;
      @include transition();

      i {
        margin-left: 5px;
      }
    }
  }

  &:hover {
    .item-post {
      &__thumbnail {
        img {
          opacity: 0.5;
        }
      }

      &__more {
        color: $color-hover;
      }
    }
  }

  .view-popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}