.element-product-popup {
  .item-post {
    cursor: pointer;

    &__box {
      position: relative;
      margin-bottom: 16px;
    }

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      overflow: hidden;

      &:before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__thumbnail {
      position: relative;
      overflow: hidden;
      z-index: 1;

      img {
        @include transform(scale(0.5, 0.5));
        @include transition(all 0.4s ease-in-out);
      }
    }

    &__title {
      margin-bottom: 0;
      font-size: 20px;
      text-align: center;
      cursor: pointer;
    }

    &:hover {
      .item-post {
        &__thumbnail {
          img {
            @include transform(scale(0.7, 0.7));
          }
        }
      }
    }
  }
}