form {
  &.wpcf7-form {
    br {
      display: none;
    }
    p {
      position: relative;
      margin: 0;

      span {
        &.ajax-loader {
          position: absolute;
          top: 8px;
        }
      }
    }
    label {
      display: block;
      margin-bottom: 0.5rem;
    }
    span {
      &.required {
        color: $color-hover;
      }
      &.wpcf7-form-control-wrap {
        display: block;
        margin-bottom: 15px;

        input,
        textarea {
          height: auto;
          width: 100%;
          display: block;
          border: 1px solid #e9ebed;
          padding: 8px 12px;

          &:focus {
            border-color: $border-color-primary;
          }
        }
        textarea {
          height: 100px;
        }
      }
    }
    .wpcf7-submit {
      color: $color-title;
      font-weight: 700;
      padding: 5px 35px;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      background: $background-primary;
      border-radius: 6px;
      @include transition(all 0.4s ease-out);

      &:hover {
        color: $background-primary;
        background-color: $color-title;
      }
    }
  }
}