.site-container {
  padding: 1rem 0 3rem;

  &.site-container-elementor {
    padding: 0;
  }
  .breadcrumbs-col {
    padding-top: 0 ;
  }
}
.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}