.site-container {
  padding: 1rem 0 3rem;

  &.site-container-elementor {
    padding: 0;
  }
  .breadcrumbs-col {
    padding-top: 0 ;
  }
}
.site-page-content {
  p {
    &:after {
      display: table;
      clear: both;
      content: '';
    }
  }
}

.site-warranty {
  padding: 80px 0;

  .title {
    font-size: 20px;
    color: #303030;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .title-error {
    font-size: 14px;
    color: #FF0000;
    margin-bottom: 4px;
  }

  .form-warranty {
    form {
      label {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
      }

      input {
        &.form-control {
          padding: 24px 8px;
          margin-bottom: 30px;
          border-radius: 0;
          border: 1px solid #c1c1c1;
        }
      }

      .g-recaptcha {
        margin-bottom: 30px;

        > div {
          width: 100% !important;
        }
      }

      .action-box {
        button {
          padding: 12px 62px;
          font-size: 16px;
          color: #000000;
          font-weight: 700;
          border-radius: 0;
          @include transition();

          &:hover {
            color: #ffffff;
            background-color: #000000;
          }
        }
      }
    }
  }

  &__conditions {
    height: 460px;
    overflow: hidden;
  }

  .more-info-warranty {
    display: inline-block;
    margin-top: 22px;
    font-size: 16px;
    font-weight: bold;
    color: #707070;
    text-decoration: none;

    &:hover {
      color: #000000;
    }
  }
}

.search-result-warranty {
  .customer-info-box {
    display: grid;
    grid-column-gap: 106px;
    grid-template-columns: repeat(2, 1fr);

    .item {
      margin-bottom: 28px;

      p {
        &.label {
          margin-bottom: 16px;
          font-weight: 700;
          font-size: 18px;
        }

        &.text {
          margin-bottom: 0;
          padding: 8px 12px;
          color: #303030;
          font-size: 14px;
          border: 1px solid #C1C1C1;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .unit-box {
    .title-unit {
      margin-bottom: 16px;
      font-size: 18px;
    }

    .info {
      padding: 18px 14px;
      border: 1px solid #C1C1C1;

      &__item {
        margin-bottom: 8px;
        display: grid;
        grid-gap: 12px;
        grid-template-columns: 126px 1fr;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  .contract-list {
    .table-contract {
      overflow-x: auto;
    }

    table {
      text-align: center;
      margin-bottom: 0;

      thead {
        tr {
          th {
            text-transform: uppercase;
          }
        }
      }

      tbody {
        border-top: 0;
      }
    }
  }

  .video-img-box {
    .select-box {
      position: relative;
      width: 30%;

      .select-contract-code {
        padding: 18px;
        border-radius: 0;
        border: 1px solid #979797;
      }

      &__spinner {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left:0;
        visibility: hidden;
        opacity: 0;
        background-color: rgba(0,0,0,0.5);
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include transition();

        &.active {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .note-warranty {
      padding-top: 30px;
    }
  }
}