@media (min-width: 1200px) {

  .container {
    max-width: 1200px;
  }

}

@media (max-width: 1199px) {

  .container {
    max-width: none;
  }
  .element-post-carousel {
    .owl-carousel {
      .owl-nav {
        display: none;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {

  .site-menu ul li:nth-last-child(1),
  .site-menu ul li:nth-last-child(2) {
    .sub-menu {
      left: auto;
      right: 0;

      li {
        .sub-menu {
          left: auto;
          right: 90%;
        }

        &:hover {
          > .sub-menu {
            left: auto;
            right: 100%;
          }
        }
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1200px) {

  .site-menu {
    ul {
      li {
        a {
          padding: 0 7px;
        }
      }
    }
  }

}

@media (min-width: 992px) {

  .site-navigation_warp {
    max-width: 1260px;
    margin: 0 auto;
  }
  .active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .admin-bar {
    .active-sticky-nav {
      top: 32px;
    }
  }
  .site-menu {
    > ul {
      height: 100%;

      > li {
        display: inline-flex;
        height: 100%;
        @include align-items(center);
      }
    }

    ul {
      li {
        .sub-menu {
          display: block !important;
        }
      }
    }
  }
  .modal {
    &.mode-quick-view-product {
      .modal-dialog {
        max-width: 850px;
      }
    }
  }
  .custom-modal {
    .modal-dialog {
      max-width: 950px;
    }
  }

}

@media (max-width: 991px) {

  .main-navigation {
    .navbar-expand-lg {
      .container {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }

  .site-navigation_warp {
    padding-left: 15px;
    padding-right: 15px;
    @include flex-wrap(wrap);
  }

  .site-logo {
    max-width: 100%;
    @include order(2);
    @include flexbox();
    @include justify-content(space-between);
    @include flex(0 0 100%);
  }
  .site-header {
    padding: 1rem 0;

    &__right {
      max-width: 100%;
      margin-bottom: 1rem;
      @include order(1);
      @include flex(0 0 100%);

      &--search {
        max-width: none;
        @include flex(1);
      }

      &--social {
        padding-left: 3rem;
      }
    }
  }
  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }
  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1rem;
    background-color: #eeeeee;
    z-index: 99;

    .collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }

    ul {
      li {
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: 0;
        }

        a {
          display: inline-block;
          padding: 15px 0;
        }

        .sub-menu {
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          border-top: 0;
          background-color: transparent;
          @include transition-duration(0s);

          li {
            border-bottom: 0;
            padding: 0;

            a {
              padding: 8px 0;

              &:before {
                content: "\f111";
                display: inline-block;
                font-family: 'Font Awesome 5 Free', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                margin-right: 10px;
              }
            }

            .icon_menu_item_mobile {
              top: 5px;
              right: 0;
            }
          }
        }
      }
    }
  }
  .icon_menu_item_mobile {
    display: block;
  }

  .search-result-warranty {
    .contract-list {
      table {
        width: 1040px;
      }
    }
  }

}

@media (min-width: 768px) {

  .search-result-warranty {
    .video-img-box {
      .media-box {
        @include transform(translateY(-62px));
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 991px) {

  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) {
    @include flex-direction(column);
  }
  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item--image,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) .recent_posts_thumbs_widget_item--image {
    max-width: 100%;
    margin: 0 0 10px;
  }
  .recent_posts_thumbs_widget_grid {
    .recent_posts_thumbs_widget_item {
      width: 100%;
    }
  }

  .woocommerce {
    ul {
      &.products {
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 33.33333333%);
              width: 33.33333333%;
            }
          }
        }
      }
    }
  }

  .custom-modal {
    .modal-dialog {
      max-width: 760px;
    }
  }

}

@media (max-width: 767px) {

  .site-sidebar {
    padding-top: 50px;
  }
  .element-image-box-theme-v2 {
    .box-content {
      padding-top: 30px;
    }
  }

  .search-result-warranty {
    .customer-info-box {
      .item {
        .col {
          &:not(:last-child) {
            margin-bottom: 18px;
          }
        }
      }
    }

    .video-img-box {
      .select-box {
        width: 100%;
      }

      .note-warranty {
        padding-bottom: 30px;
      }
    }
  }

  /* woocommerce */
  .woocommerce,
  .woocommerce-page {
    .col2-set {
      .col-1,
      .col-2 {
        @include flex(0 0 100%);
        max-width: 100%;
      }
    }
  }

}

@media (min-width: 576px) and (max-width: 991px) {

  .search-result-warranty {
    .customer-info-box {
      grid-column-gap: 12px;
    }
  }

}

@media (min-width: 576px) and (max-width: 767px) {

  .rsp-gallery {
    .gallery {
      .gallery-item {
        img {
          height: 230px !important;
          object-fit: cover;
        }
      }
    }
  }

  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 33.33333333%);
              width: 33.33333333%;
            }
          }
        }
      }
    }
  }

  .search-result-warranty {
    .unit-box {
      .info {
        &__item {
          grid-template-columns: 1fr;
        }
      }
    }
  }

  .custom-modal {
    .modal-dialog {
      max-width: 600px;
    }
  }

}

@media (max-width: 575px) {

  .comment-form {
    .comment-fields-row {
      margin-bottom: 0;
    }

    .form-comment-item {
      margin-bottom: 15px;
    }
  }

  .woocommerce {
    .site-shop-single {
      div {
        &.product {
          .site-shop-single__gallery-box,
          div.summary {
            width: 100%;
          }
        }
      }
    }
  }

  .site-warranty {
    .form-warranty {
      margin-bottom: 42px;
    }
  }

  .search-result-warranty {
    .customer-info-box {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }

  .element-warranty-check {
    grid-row-gap: 24px;
    grid-template-columns: 1fr;
  }

}

@media (min-width: 481px) and (max-width: 765px) {

  .rsp-gallery {
    .gallery {
      margin-left: -7.5px !important;
      margin-right: -7.5px !important;
      @include flexbox();
      @include flex-wrap(wrap);

      .gallery-item {
        padding-left: 7.5px !important;
        padding-right: 7.5px !important;
      }
    }
  }

}

@media (min-width: 481px) and (max-width: 575px) {

  .rsp-gallery {
    .gallery {
      .gallery-item {
        img {
          height: 150px !important;
          object-fit: cover;
        }
      }
    }
  }

}

@media (max-width: 480px) {

  .rsp-gallery {
    .gallery-item {
      padding-right: 0 !important;
      max-width: 100% !important;
    }
  }
  .comments-area {
    .comment-list {
      li {
        .comment-body {
          margin-bottom: 15px;

          .comment-meta {
            padding-left: 15px;
          }
        }
      }
    }

    ul {
      li {
        ul {
          &.children {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 351px) and (max-width: 575px) {

  .woocommerce {
    ul {
      &.products {
        &.columns-3,
        &.columns-4,
        &.columns-5 {
          li {
            &.product {
              @include flex(0 0 50%);
              width: 50%;
            }
          }
        }
      }
    }
  }

}

@media (min-width: 320px) and (max-width: 350px) {
  .woocommerce ul {
    &.products.columns-3,
    &.products.columns-4,
    &.products.columns-5 {
      li {
        &.product {
          max-width: 100%;
          @include flex(0 0 100%);
        }
      }
    }
  }
}