// Color
$color-primary: #000000;
$color-title: #000000;
$color-hover: #eeaf13;
$color-second: #a2a2a2;

// Background
$background-primary: #eeaf13;
$background-hover: #eeaf13;

// Border color
$border-color: #eeeeee;
$border-color-primary: #eeaf13;